h2 { 
 font-size:1.8em; 
 color: red;
}

h1 { 
 font-size:1.8em; 
 color: blue;
}

h3 { 
 font-size:1.8em; 
 color: green;
}


#reffont {
 font-size:0.6em; 
 color: gray;
}

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }

